@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: #23252f;
    color: white;
    margin: 0;
    font-family: Poppins;
  }

.container {
    display: flex
}

.primary-nav{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content:space-between;
}

.primary-nav li{
    list-style-type: none;
}
.primary-nav  a{
    text-decoration: none;
}
.profile-img{
    width: 25%;
    height:auto;
}
a{
    text-decoration: none;
    color: #fff
}
li, .arcli{
    list-style-type: none;
    margin: 0 10px;
}
.about-img{
 width: 40px; height: 40px
}
.network-icon{
    display: flex;
    margin-left: 120px;
}

.skills-container{
    background-color: #272935;
}

/* .row-features{
    display: flex;
    width: 100%;
} */

.section2-header{
    margin-top: 90px;
    padding-top: 100px;
    margin-left: 750px;
    justify-content: center;
}

.skill-container{
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.skill-row{
    width: 30%;
}

.skill-row-align{
    text-align: center;
}

.feature-icons,img{
    width: 70px;
    height: 70px;
}

.row-features{
    display: flex;
    width: 100%;
    /* margin-left: 200px ; */
}

.img-icon{
    filter: invert(36%) sepia(8%) saturate(1999%) hue-rotate(330deg) brightness(92%) contrast(87%);
}


.exp-container{
    display: flex;
    width: 100%;
}

.header{
    width: 30%;
    margin-top: 60px;
    margin-left: 350px;
}

.pointers{
    width: 6%;
    margin-top:170px;
    position: relative;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 210%;
    top: 0;
    filter: invert(36%) sepia(8%) saturate(1999%) hue-rotate(330deg) brightness(92%) contrast(87%);
  }

.line{
    border-left: 1px solid ;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    margin-top: 40px;
    top: 0;
    filter:invert(36%) sepia(8%) saturate(1999%) hue-rotate(330deg) brightness(92%) contrast(87%);
}

.row{
    width: 80%;
    margin-top: 60px;
    display:flex;
    flex-direction:column;
}

/* .card{
    background: #343a40;
    transition: 0.3s;
    width:80%;
    height: 90%;
    padding: 10px;
    border-radius:4%
} */

.card{
    margin-left: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #343a40;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    transition: all .2s ease-out;
    padding: 10px 0px 10px 10px;
    width:30%;
    border-radius: 14px;
}